body {
	background-image: url("https://farm8.staticflickr.com/7124/7680459932_b3606ed562_o.jpg" );
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.glyphicon {
        position: relative;
	top: -.5px;
}

h1 {
	color: white;
}

.default-iconCol{
        color: #404040;
}

.blue-iconCol{
        color: #009ACD;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loading.gif') 50% 50% no-repeat rgb(0, 0, 0);
}

.minus-del {
    background-color: #EE6A50;
    color: white;
    font-size: 2em;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute; 
    top:110px; 
    left:128px;
    display: none;
}
